main {
  width: 66%;
  height: calc(100vh - 94px);
  box-sizing: border-box;
  margin: auto;
  border-right: 3px solid var(--mainHeaderColor);
  border-left: 3px solid var(--mainHeaderColor);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  main {
    width: 100%;
  }
}

